
<div class="container mb-3">

    <img src=" https://www.geetanjalihospital.co.in/images/blood-bank.jpg">
    <h1 class="animate__animated animate__pulse"><b> WeCare Blood Bank System </b></h1>
<br>
<p>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro obcaecati optio doloribus laborum, ut tempora, natus
nihil voluptate ea sequi sapiente id vel inventore deserunt corporis dignissimos in veniam esse!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro obcaecati optio doloribus laborum, ut tempora, natus
nihil voluptate ea sequi sapiente id vel inventore deserunt corporis dignissimos in veniam esse!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro obcaecati optio doloribus laborum, ut tempora, natus
nihil voluptate ea sequi sapiente id vel inventore deserunt corporis dignissimos in veniam esse!


</p>