<div class="container mb-8 mt-3">
    <img src="https://t4.ftcdn.net/jpg/02/02/23/29/360_F_202232908_DHnVu2uRw7ValxiPBDpWbyJu5ZuiXnXb.jpg" class="align-right">

    <h1 class="animate__animated animate__pulse mt-5"><b> WeCare Home Care Services </b></h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus distinctio rerum repellendus nesciunt quidem, veritatis
        facere corporis est quam exercitationem perferendis doloremque architecto voluptatibus reprehenderit nihil sequi cum rem
        ab?
    </p>
    <br>
    <li >Services
        <ol type="i"></ol>
        <ol type="i">Doctor Consultation</ol>
        <ol type="i">Nurse Assitance </ol>
        <ol type="i">Health Checkup </ol>
        <ol type="i">Lab Collection </ol>
        <ol type="i">Pharmacy Delivery </ol>
        <ol type="i">Covid Consulation/Covid sample collection </ol>
    </li>
<br> 
    <h5> For Queries, Contact:</h5><br>
    <h6> Kannur: +91 1234567898</h6>
    <h6> Eranakulam: +91 1234567898</h6>
    <br>